@charset "UTF-8";

aside ul {
    list-style: none;
    text-decoration: none;

}

/*css for star rating response message*/

#message {
    clear: both;
    margin-right: 60px;
    color: white;
    margin: 0 auto;
    text-align: center;
    background-color: #1a405e;
    margin-top: 30px;
    margin-bottom: 30px;

}

/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/

/*breakpoint for larger devices using flex to display elements*/

@media screen and (min-width: 651px) {

    h3 {
        font-size: 25px;
    }
    
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-basis: 0;
    }

    .contactheader {
        margin: 0 auto;
    }

    .contactheader h1 {
        margin-left: 100px;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
        margin-right: 0;
        padding-right: 50px;
    }

    .rating {
        float: right;
        position: relative;
        margin: 0 auto;
        display: block;
        font-size: 30px;
    }


    .rating:not(:checked) > label:before {
        font-size: 30px;

    }

    #contact {
        position: relative;
        display: block;
    }

    #contact input {
        margin: 0 auto;
        height: 30px;
        width: 90%;
        position: relative;
        display: block;
        margin-bottom: 10px;
    }

    #contact textarea {
        margin: 0 auto;
        width: 90%;
        height: 200px;
        position: relative;
        display: block;
        margin-bottom: 30px;
    }

    #contact button {
        margin: 0 auto;
        display: block;
        padding: 20px;
        width: 40%;
    }

    .contactintro {
        margin: 0 auto;
        display: block;
        width: 50%;

    }

    .socialmedia {
        margin-top: 100px;
        width: 600px;
    }

    .socialmedia li {
        display: inline-block;
        padding: 5px;
    }

    .socialmedia li img {
        height: 70px;
        width: 70px;
    }

    .contactdetails {
        width: 500px;

    }

    .contactintro p {
        text-align: center;
    }

    .contactdetails section p {
        text-align: center;
    }

    #map {
        margin: 0 auto;
        height: 600px;
        width: 80%;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }





}

/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/

@media screen and (max-width: 650px) {

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-basis: 0;
    }
    .contactheader h1 {
        text-align: center;
        float: left;
        margin-left: 20px;
        position: absolute;
        width: 50%;
        font-size: 35px;

    }

    .contactheader {
        margin: 0 auto;

    }

    .rating {
        float: right;
        margin: 0 auto;
        display: block;
        margin-top: 25px;
        font-size: 15px;
        position: relative;
        margin-bottom: 20px;
    }
    .rating:not(:checked) > label {

        font-size: 20px;


    }

    #contact {
        position: relative;
        display: block;
    }


    #contact input {
        height: 30px;
        position: relative;
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-bottom: 5px;
    }

    #contact textarea {
        height: 200px;
        position: relative;
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-bottom: 10px;
    }

    #contact button {
        margin: 0 auto;
        display: block;
        padding: 10px;
        width: 40%;
    }

    .rating:not(:checked) > label:before {
        font-size: 20px;

    }

    .contactintro {
        width: 70%;
        margin-left: 5px;
    }

    .socialmedia li img {
        height: 40px;
        width: 40px;
    }

    .contactdetails {
        width: 200px;
    }

    .contactintro p {
        text-align: center;
    }

    .contactdetails section p {
        text-align: center;
    }

    #map {
        height: 400px;
        width: 100%;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

}



/*--------------------------------------------------------------------------*/

.rating {
    padding: 0 10px;


}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;

}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #ccc;


}

.rating:not(:checked) > label:before {
    content: '★ ';


}

.rating > input:checked ~ label {
    color: #ffc700;


}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
