@charset "UTF-8";

/*get rid of any default margin*/

body {
    margin: 0;
}

p {
    font-family: 'Jura', sans-serif;

}

/*styling for navigation bar*/

.mainnav {
    background-color: #1a405e;
    overflow: hidden;
    text-align: center;
    z-index: 1;

}

.mainnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mainnav ul li a {
    font-family: 'Jura', sans-serif;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;



}

.mainnav ul .navicon {
    display: none;
    top: 0;

}

.mainnav .navicon:hover {
    display: block;
}

/*making logo fit the navbar*/

.logo {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;

}



/*styling for headings*/

h1 {
    font-family: 'Squada One', cursive;
    text-align: center;
    color: #1a405e;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 1);
    font-style: oblique;
    line-height: 1;
}

h2 {
    font-family: 'Squada One', cursive;
    text-align: center;
    color: #1a405e;
    font-style: oblique;
    line-height: 1;

}

h3 {
    font-family: 'Squada One', cursive;
    text-align: center;
    color: #1a405e;
    line-height: 1;
    margin: 0;
}


/*--------------------------------------------------------------------------*/

/*breakpoint for larger screen size devices*/

@media screen and (min-width: 651px) {

    /*to make the navbar stick to the top of the browser window */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /*to stop the image slider from being overlapped by the navbar when scrolling back up*/
    .sticky + header {
        padding-top: 77px;
    }

    .mainnav {
        height: 80px;
    }

    .mainnav ul li {
        display: inline-block;
    }


    .mainnav ul li a:hover {
        color: black;
        background-color: #d1e8ff;
    }


    .mainnav ul li a {
        position: relative;
        top: -20px;
        padding-top: 100%;
        padding-bottom: 100%;
        color: white;
        line-height: 60px;
    }

    /*make font sizes bigger for larger screens*/
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 40px;
    }

    .homearticle header {
        margin-bottom: -30px;
    }

    /*using flexbox to make sections in the article appear in a row*/
    .homearticle {
        display: flex;
        flex-direction: row;
        margin-top: -20px;
    }

    .homebanner h1 {
        margin-bottom: 20px;
    }

    /*giving the sections in the article a equal width*/
    .homearticle .left-col,
    .right-col,
    .cent-col {
        width: 30%;
        margin: auto;
    }

    /*setting a height for each sections articles*/
    .homearticle .left-col article,
    .right-col article,
    .cent-col article {
        height: 800px;
    }

    /*padding to stop button from overlapping the footer*/
    #backtotopbtn {
        bottom: 100px;
    }

}

/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/

/*breakpoint for smaller screen sizes*/

@media screen and (max-width: 650px) {

    /*stopping links from the navbar from being displayed */
    .mainnav ul li a {
        display: none;
    }

    .navicon {
        color: #ffffff;
    }

    /*making the sections in the article appear in a column using flex*/
    .homearticle {
        display: flex;
        flex-direction: column;
        margin-top: -20px;
    }

    .homearticle .left-col article,
    .right-col article,
    .cent-col article {
        height: 300px;
    }

    .homearticle {
        margin: 20px;
        margin-top: -10px;
    }

    /*styling for collapsed nav*/
    .mainnav a.navicon {
        float: left;
        display: block;
        height: 40px;
        color: white;
    }

    /*changing the color of the link to show what page the user is on*/
    .currentpage {
        background-color: black;
        color: white;
    }

    /*hover effect applied to all list items except from navicon*/
    .mainnav ul li:hover:not(:last-child) {
        background-color: grey;
        color: black;
    }

    .mainnav.responsivenav {
        position: relative;
    }

    .mainnav.responsivenav ul {
        top: 0;
        margin-top: 0;
    }

    .mainnav.responsivenav ul li a.navicon {
        position: absolute;
        top: 0;
    }

    .mainnav.responsivenav ul li a {
        position: relative;
        display: block;
        text-align: right;
        height: 40px;
    }

    /*hiding the image logo*/
    #logo {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    /*making each section of the article fit the whole screen width*/
    .homearticle .left-col,
    .right-col,
    .cent-col {
        width: 100%;
    }

    #backtotopbtn {
        bottom: 120px;
    }

}

/*--------------------------------------------------------------------------*/

/*styling for footer*/

footer {
    margin-top: 100px;
    background-color: #1a405e;
    color: white;
    height: 100px;
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
    clear: left;


}

footer p {
    margin-top: 30px;
}

/*styling for image slider*/

#homeimageslider {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
}

/*adding transition between images*/

#homeimageslider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 1000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
}

/*to ensure images fill the holder*/

#homeimageslider li {
    position: relative;
    height: 100%;
    width: calc(100vw);
    float: left;
}

#homeimageslider img {
    width: 100%;
    height: 100%;
}

/*styling image slider buttons */

#prev,
#next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    background-color: black;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
}

#prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/*giving the split article a border*/

.homearticle .left-col,
.right-col,
.cent-col {
    box-sizing: border-box;
}

.homearticle h3 {
    color: black;
    font-style: italic;
    font-size: 20px;
}

.homearticle .left-col article,
.right-col article,
.cent-col article {
    border-style: solid;
    border-color: #1a405e;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

/*styling for back to top button*/

#backtotopbtn {
    position: fixed;
    right: 0;
    margin-right: 10px;
    width: 50px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    background-color: black;
    text-decoration: none;
    transform: translateY(-50%);
    transition: all 150ms ease;
    display: none;
}

#backtotopbtn:hover {
    background-color: #555;
}

/*styling for purchase button*/

.buy {
    background: #073763;
    border-radius: 1000px;
    box-shadow: 0 3px #444444;
    padding: 3px 30px;
    clear: both;
    color: #ffffff;
    font-family: 'Jura', sans-serif;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 80px;

}

.buy:hover {
    background: grey;
}

/*using flex to make thumbnails responsive*/

.slider {
    margin: 0 auto;
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 20%;
}

/*transitions for switching between images*/

.slider > img {
    width: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.slider input[name='slide_switch'] {
    display: none;
}

/*stying the thumbnails*/

.slider label {
    margin: 18px 0 0 18px;
    border: 3px solid #999;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    transition: all 0.5s;
    width: 40%;
    margin-top: 80%;
    margin-bottom: 50px;
    opacity: 0.6;
}

.shopiteminfo {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.slider label img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/*increase opacity for when thumbnail is clicked*/

.slider input[name='slide_switch']:checked + label {
    border-color: #666;
    opacity: 1;
}


/*changing the opacity of thumbnails*/

.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}

/*transition effect when switching between images*/

.slider input[name='slide_switch']:checked + label + img {
    opacity: 1;
    transform: scale(1);
}
