body {
    margin: 0;
    font-family: Trebuchet MS;

}

.content {
    padding: 29px;
}


@media screen and (min-width: 601px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;

    }

    .sticky + .content {
        padding-top: 100px;

    }

    .mainnav {
        height: 70px;

    }

    .mainnav a {
        top: -20px;
        padding: 20px;
        position: relative
    }


}



.mainnav {
    background-color: #1a405e;
    overflow: hidden;
    text-align: center;

}


.mainnav a {
    font-family: Trebuchet MS;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;



}


.mainnav a:hover:not(:last-child) {
    color: black;
    background-color: #d1e8ff;
}


.mainnav .navicon {
    display: none;
}

.mainnav .navicon:hover {
    display: block;
}

.logo {
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;

}




@media screen and (max-width: 600px) {
    .mainnav a {
        display: none;

    }

    .mainnav a.navicon {
        float: left;
        display: block;
        height: 40px;

    }
    .currentpage {
        background-color: black;
        color: white;

    }
    .mainnav a:hover:not(:last-child) {
        background-color: #ddd;
        color: black;
    }

    .mainnav.responsivenav {
        position: relative;
    }
    .mainnav.responsivenav a.navicon {
        position: absolute;
        top: 0;

    }

    .mainnav.responsivenav a {
        display: block;
        text-align: right;
        height: 40px;



    }

    #logo {
        display: none;
    }



}

.imagesliderhome {
    margin-bottom: 200px;
    width: 100%;
}

.banner {
    width: 100%;
    position: absolute;
}

.content p {
    margin-top: 500px;
}

footer {
    background-color: #1a405e;
    color: white;
    height: 100px;
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;

}

footer p {
    margin-top: 30px;
}

#homeimageslider {
    margin: 0px;
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#homeimageslider ul {
    margin: 0px;
    position: relative;
    list-style: none;
    height: 100%;
    width: 9999%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}

#homeimageslider li {
    position: relative;
    height: 100%;
    width: calc(89vw);
    float: left;
}

#homeimageslider img {
    width:100%;
    height: 100%;
}

#prev,#next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
}
    
#prev:hover {
        background-color: rgba(0, 0, 0, 0.5);
        text-shadow: 0;
    }
#next:hover {
        background-color: rgba(0, 0, 0, 0.5);
        text-shadow: 0;
    }


#prev {
    left: 10px;
}

#next {
    right: 10px;
}

}
