/*--------------------------------------------------------------------------*/

/*for small screen sizes*/

@media screen and (max-width: 650px) {

    .tvshowintro {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .tvshowintro h1 {
        font-size: 2em;
        margin: auto;
        margin-right: 20px;
    }
    .tvshowintro form {
        margin: auto;

    }

    .tvshowintro input {
        width: 60%;
        height: 20px;
    }

    .tvshowintro button {
        height: 24px;
    }

    section iframe {
        display: block;
        margin: 0 auto;
        width: 70%;
        height: 300px;
        margin-top: 20px;

    }

    article {
        margin: 0 auto;
        display: block;
        width: 90%;
    }

}



/*--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/

/*breakpoint for larger screen size devices*/

@media screen and (min-width: 651px) {

    .tvshowintro {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .tvshowintro h1 {
        margin: auto;
        margin-right: 20px;
    }
    .tvshowintro form {
        margin: auto;
        width: 30%;

    }

    .tvshowintro input {
        width: 60%;
        height: 30px;
    }

    .tvshowintro button {
        width: 30%;
        float: right;
        position: relative;
        height: 34px;

    }

    article {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 50px;
    }



    section iframe {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 500px;
        margin-top: 20px;
    }


}

/*--------------------------------------------------------------------------*/
